# {{ ansible_managed }}

[Unit]
Description=Tomcat {{ tomcat_system_name }} {{ item.instance_name }} Java Application Server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/etc/init.d/{{ tomcat_system_name }}_{{ item.instance_name }} start
ExecReload=/etc/init.d/{{ tomcat_system_name }}_{{ item.instance_name }} reload
ExecStop=/etc/init.d/{{ tomcat_system_name }}_{{ item.instance_name }} stop

[Install]
WantedBy=multi-user.target
